$font : 'Montserrat', sans-serif;

// colors
$black : #343434;
$red : #CB0000;
$darkgreen : #376531;

html, body {
  max-width: 100%;
  font-family: $font;
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color:inherit;
}

.medium { font-weight: 500; }
.semibold { font-weight: 600; }
.bold { font-weight: 700; }

.reddot {
  border: 1px red dashed;
}

.margin-container {
  margin: auto;
  position: relative;
  width: 1050px
}

.navbar {
  width: 100%;
  top: 0;
  left: 0;
  background: white;
  z-index: 10;
  padding: 10px;
  overflow: hidden;
  margin: 0;

}

.nav-links {
  position: relative;
  font-size: 17px;
  padding-right: 30px;
  top: 12px;
  right: 30px;
  float: right;
  text-decoration: none;
  color: $black;
  text-align: center;
}

.subtagline {
  position: relative;
  left: 2px;
}

.btn {
  background: $red;
  color: white;
  padding: 10px 15px;
  letter-spacing: 3px;
  cursor: pointer;
}

#homebg-area {
  // background: url("../img/homebg.svg");
  // background-size: cover;
  width: 100%;
  height: 2000px;
  margin: 0;
}

#homebg {
  position: absolute;
  z-index: -10;
  left: 50%;
  transform: translateX(-50%);
}

// #squares {
//   position: absolute;
//   width: 500px;
//   right: -140px;
//   top: 120px;
// }

#navbarlogo {
  width: 120px;
  position: relative;
  left: 10px;
}

#signin-btn {
  top: 2px;
  letter-spacing: 1px;
}

#tagline {
  font-size: 50px;
  color: $darkgreen;
  position: relative;
  padding-top: 120px;
}

#questions {
  color: $darkgreen;
  width: 500px;
  margin-top: 50px;
}

#getstarted-btn {
  top: 20px;
  position: relative;
  letter-spacing: 3px;
}
