html, body {
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  overflow-x: hidden; }

a {
  text-decoration: none;
  color: inherit; }

.medium, .info-text, #logo-title, .quote-text {
  font-weight: 500; }

.semibold {
  font-weight: 600; }

.bold, .navbar, .btn, .sectitle, .minititle, #tagline, #makeithappen, #makeithappen-sub, #marketplacebtn, .b-col-title, .b-col-sub, #newsletterbtn {
  font-weight: 700; }

.reddot {
  border: 1px red dashed; }

.margin-container {
  margin: auto;
  position: relative;
  max-width: 1050px; }

.navbar {
  width: 100%;
  top: 0;
  left: 0;
  background: white;
  padding: 10px;
  overflow: hidden;
  margin: 0; }

.nav-links {
  position: relative;
  font-size: 17px;
  padding-right: 30px;
  top: 12px;
  right: 30px;
  float: right;
  text-decoration: none;
  color: #343434;
  text-align: center;
  display: block; }

#menubtn {
  position: relative;
  float: right;
  right: 30px;
  top: 7px;
  cursor: pointer;
  display: none;
  width: 37px; }

#menuX {
  position: relative;
  float: right;
  right: 30px;
  top: 7px;
  cursor: pointer;
  display: none;
  width: 30px; }

.subtagline {
  position: relative;
  left: 2px;
  font-size: 28px; }

.btn {
  display: inline-block;
  background: #cb0000;
  color: white;
  padding: 15px 15px;
  letter-spacing: 3px;
  font-size: 16px;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.5);
  transition: .2s; }

.btn:hover {
  background: white;
  color: #cb0000;
  transition: .2s; }

.sectitle {
  font-size: 35px;
  color: #376531; }

.minititle {
  color: #376531;
  letter-spacing: 3px;
  font-size: 14px; }

.green-section {
  background-color: #376531;
  height: 300px; }

.link-anim {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: relative; }
  .link-anim:before {
    content: "";
    position: absolute;
    left: 0;
    right: 100%;
    bottom: -1px;
    background: #343434;
    height: 2px;
    transition: right .3s; }
  .link-anim:hover:before {
    right: 0; }

#homebg-area {
  width: 100%;
  height: 1160px;
  margin: 0;
  position: relative; }

#homebg {
  height: 100%;
  position: absolute;
  z-index: -10;
  left: 50%;
  transform: translateX(-50%); }

#homebgfull {
  height: 38%;
  position: absolute;
  z-index: -10;
  left: 50%;
  transform: translateX(-50%);
  display: none; }

#navbarlogo {
  width: 120px;
  position: relative;
  left: 10px; }

#signin-btn {
  top: 2px;
  letter-spacing: 1px;
  padding: 10px 15px; }

#tagline {
  font-size: 58px;
  color: #376531;
  position: relative;
  padding-top: 120px; }

#questions {
  color: #376531;
  width: 500px;
  margin-top: 50px;
  font-size: 16px; }

#section-info {
  margin-top: 160px; }

.info-text {
  margin-top: 2px;
  width: 440px;
  color: #707070;
  font-size: 14px;
  letter-spacing: .5px;
  line-height: 1.5em; }

#notyears {
  font-size: 28px; }

.graphic-icon {
  position: absolute; }

#computer {
  width: 300px;
  left: 590px;
  top: -40px; }

#parts {
  width: 220px;
  left: 800px;
  top: 295px; }

#box {
  width: 190px;
  left: 494px;
  top: 320px; }

#ourprocess {
  margin-top: 70px; }

#workwithusbtn {
  margin-top: 70px; }

#past-clients-title {
  text-align: center;
  padding: 40px;
  color: white; }

#logo-title {
  font-size: 30px;
  color: #376531;
  text-align: center;
  margin-bottom: 20px; }

.logo-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); }

.logos {
  max-width: 120px;
  width: 60%;
  margin: auto; }

.logorow2 {
  position: relative;
  left: 110px; }

.quote-carousel {
  width: 100%;
  white-space: nowrap;
  position: relative;
  margin-top: 80px; }

.quote-container {
  width: 50%;
  height: 400px;
  display: inline-block;
  position: relative;
  margin-right: -5px;
  opacity: .3;
  transition: opacity .5s;
  cursor: pointer; }

.active {
  opacity: 1;
  transition: .5s;
  cursor: default; }

.quotebox {
  display: grid;
  width: 95%;
  background-color: #a6d069;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  grid-template-columns: 35px auto; }

.quote-text {
  white-space: normal;
  position: relative;
  color: white;
  line-height: 25px;
  padding: 40px 40px 40px 60px; }

.quote-icon {
  width: 100%;
  padding: 30px; }

.indicators {
  width: 150px;
  position: relative;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; }

.idot {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #afafaf;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: auto;
  cursor: pointer; }

.iactive {
  background-color: #a6d069;
  transition: .5s; }

.quoteppl {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  margin-top: 40px; }

.quoteppl-text {
  font-size: 12px;
  text-align: center;
  margin-top: 10px; }

#makeithappen, #makeithappen-sub {
  color: white;
  font-size: 60px;
  padding-top: 70px; }

#makeithappen-sub-container {
  display: grid;
  grid-template-columns: auto auto;
  padding-bottom: 90px; }

#makeithappen-sub {
  font-size: 32px;
  padding-top: 40px; }

#contactus-btn {
  position: relative;
  height: 20px;
  width: 140px;
  top: 65px;
  right: -200px; }

#marketplace-container {
  height: 280px; }

#marketplacebg {
  position: absolute;
  height: 280px;
  left: 50%; }

#marketplacebtn {
  display: inline-block;
  border: 3px #376531 solid;
  background: none;
  color: #376531;
  padding: 12px;
  letter-spacing: 3px;
  font-size: 16px;
  cursor: pointer;
  transition: .2s;
  margin-top: 30px; }

#marketplace-infottext {
  margin-top: 20px;
  width: 600px; }

#marketplacebtn:hover {
  background: #376531;
  color: white;
  transition: .2s; }

#marketplace-graphic {
  position: absolute;
  width: 270px;
  left: 700px;
  top: 40px; }

#bottom-container {
  background-color: #343434; }

.bottom-grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr; }

#logo-bottom {
  position: relative;
  width: 200px;
  padding: 50px 0; }

.b-col-title, .b-col-sub {
  padding: 60px 0 40px;
  font-size: 18px;
  color: white; }

.b-col-sub {
  color: #DCDCDC;
  padding: 0;
  line-height: 40px;
  font-size: 14px;
  font-weight: 600; }

.sm-icons {
  width: 25px;
  padding: 8px 10px 0 0;
  cursor: pointer; }

input[type="text"] {
  font-family: "Montserrat", sans-serif;
  padding: 5px 0 5px 5px;
  width: 180px;
  border: 2px white solid; }

#newsletterbtn {
  position: relative;
  border: 2px white solid;
  color: white;
  text-align: center;
  padding: 10px 3px;
  width: 180px;
  letter-spacing: 6px;
  font-size: 12px;
  cursor: pointer;
  transition: .2s; }

#newsletterbtn:hover {
  background: white;
  color: #343434;
  transition: .2s; }

.link-anim-bottom {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: relative; }
  .link-anim-bottom:before {
    content: "";
    position: absolute;
    left: 0;
    right: 100%;
    bottom: -1px;
    background: #DCDCDC;
    height: 2px;
    transition: right .2s; }
  .link-anim-bottom:hover:before {
    right: 0; }

@media (max-width: 1100px) {
  .margin-container {
    width: 90%; }

  #contactus-btn {
    right: -100px; }

  #computer {
    width: 250px;
    left: 590px; }

  #parts {
    top: 280px;
    width: 200px;
    left: 720px; }

  #box {
    width: 180px;
    left: 450px; }

  #marketplace-graphic {
    left: 650px; } }
@media (max-width: 985px) {
  #tagline {
    font-size: 48px; }

  .sectitle {
    font-size: 30px; }

  #notyears {
    font-size: 22px; }

  #contactus-btn {
    right: -100px; }

  #computer {
    width: 250px;
    left: 520px; }

  #parts {
    width: 200px;
    left: 650px; }

  #box {
    width: 180px;
    left: 400px; }

  .info-text {
    width: 400px;
    font-size: 13px; }

  .quote-container {
    width: 70%; }

  #marketplace-infottext {
    width: 480px; }

  #marketplace-graphic {
    left: 520px; } }
@media (max-width: 920px) {
  #computer {
    width: 250px;
    left: 480px; }

  #parts {
    width: 200px;
    left: 600px; }

  #box {
    width: 180px;
    left: 370px; }

  #contactus-btn {
    right: -80px; } }
@media (max-width: 850px) {
  #contactus-btn {
    top: 65px;
    right: -50px; }

  #makeithappen, #makeithappen-sub {
    font-size: 50px; }

  #makeithappen-sub {
    font-size: 26px;
    padding-top: 58px; }

  #marketplace-graphic {
    left: 460px; }

  #marketplace-infottext {
    width: 420px; }

  #computer {
    width: 220px; }

  #parts {
    width: 190px;
    left: 530px;
    top: 240px; }

  #box {
    width: 170px;
    top: 350px; } }
@media (max-width: 790px) {
  #menubtn {
    display: block; }

  .nav-links {
    display: none;
    position: absolute;
    float: none;
    color: #343434; }

  #signin-btn {
    width: 90px;
    padding: 10px;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    top: 300px; }

  #signin-btn:hover {
    color: #cb0000; }

  #about {
    left: 60px;
    top: 75px; }

  #contact {
    left: 60px;
    top: 150px; }

  #marketplace {
    left: 60px;
    top: 225px; }

  #homebg {
    display: none; }

  #homebgfull {
    display: block; }

  #homebg-area {
    height: auto; }

  #tagline {
    padding-top: 50px; }

  #questions {
    width: 100%; }

  .graphic-icon {
    padding: 40px 2% 0;
    position: relative; }

  #computer {
    width: 28%;
    left: 0px;
    top: 0px; }

  #parts {
    width: 28%;
    left: 00px;
    top: 0px; }

  #box {
    width: 28%;
    left: 0px;
    top: 0px; }

  #section-info {
    margin-top: 110px; }

  #ourprocess {
    margin-top: 40px; }

  #workwithusbtn {
    margin: 40px 0; }

  .info-text {
    width: 100%; }

  .logo-container {
    grid-template-columns: 1fr 1fr 1fr; }

  #logo-title {
    font-size: 22px; }

  .logorow2 {
    left: 0; }

  .logos {
    padding-top: 40px;
    width: 80%; }

  #makeithappen, #makeithappen-sub {
    padding-top: 40px; }

  #makeithappen-sub-container {
    display: block;
    padding-bottom: 20px; }

  #contactus-btn {
    margin: 40px 0;
    top: 0;
    left: 0;
    height: auto;
    width: auto; }

  #marketplace-infottext {
    width: 100%; }

  #marketplace-container {
    height: auto; }

  #marketplace-graphic {
    display: none; }

  #marketplacebg {
    display: none; }

  #marketplacebtn {
    margin: 0 0 40px; }

  .bottom-grid {
    grid-template-rows: 100px 1fr 1fr 1fr;
    grid-template-columns: 1fr; }

  #bcol-title-0 {
    display: none; }

  .b-col-title, .b-col-sub {
    padding: 0 0 10px 0; }

  #b-col-sub-1 {
    padding-top: 40px; }

  #b-col2 {
    padding-top: 40px; }

  #b-col3 {
    padding-top: 40px; } }
@media (max-width: 580px) {
  #tagline {
    font-size: 40px; }

  .subtagline {
    font-size: 6vw; }

  .quote-carousel {
    margin-top: 40px; }

  .quotebox {
    display: block; }

  .quote-icon {
    display: none; }

  .quote-container {
    width: 90%; }

  .quote-text {
    font-size: 12px;
    padding: 20px 40px;
    line-height: 20px; }

  #questions {
    font-size: 12px; }

  .btn {
    font-size: 12px; }

  .sectitle {
    font-size: 30px; }

  .info-text {
    font-size: 12px; }

  .minititle {
    font-size: 12px; } }
@media (max-width: 410px) {
  #tagline {
    font-size: 9vw; }

  .sectitle {
    font-size: 8vw; } }
